:root {
  --color-headings: #000000; /* source color_headings */
  --color-text: #000000; /* source color_text */
  --color-alt-text: #666666; /* source color_alt_text */
  --color-brand: #00008f; /* source color_brand */
  --color-header-border: #f2f2f2; /* source color_header_border */
  --color-accent: #c12020; /* source color_accent */
  --color-button: #ffffff; /* source color_button */
  --color-bg: #ffffff; /* source color_bg */
  --type-base-font: archivo_n4; /* source type_base_font */
  --type-base-scale: 150; /* source type_base_scale */
  --type-header-font: libre_franklin_n7; /* source type_header_font */
  --type-header-scale: 100; /* source type_header_scale */
  --type-header-letterspace: 0; /* source type_header_letterspace */
  --type-header-capitalize: false; /* source type_header_capitalize */
  --type-grid-style: heading; /* source type_grid_style */
  --type-grid-capitalize: false; /* source type_grid_capitalize */
  --type-grid-scale: 90; /* source type_grid_scale */
  --type-grid-letterspace: 0; /* source type_grid_letterspace */
  --type-nav-style: body; /* source type_nav_style */
  --type-nav-capitalize: true; /* source type_nav_capitalize */
  --type-nav-scale: 85; /* source type_nav_scale */
  --type-nav-letterspace: 2; /* source type_nav_letterspace */
  --type-mega-menu-style: body; /* source type_mega_menu_style */
  --type-mega-menu-capitalize: true; /* source type_mega_menu_capitalize */
  --type-mega-menu-scale: 60; /* source type_mega_menu_scale */
  --type-mega-menu-letterspace: 1; /* source type_mega_menu_letterspace */
  --type-product-form-headings-style: body; /* source type_product_form_headings_style */
  --type-product-form-headings-capitalize: true; /* source type_product_form_headings_capitalize */
  --type-product-form-headings-scale: 50; /* source type_product_form_headings_scale */
  --type-product-form-headings-letterspace: 1; /* source type_product_form_headings_letterspace */
  --type-button-capitalize: false; /* source type_button_capitalize */
  --type-button-scale: 80; /* source type_button_scale */
  --type-button-letterspace: 1; /* source type_button_letterspace */
  --color-label-sold-out: #f2f2f2; /* source color_label_sold_out */
  --color-label-discount: #c00000; /* source color_label_discount */
  --color-label-custom-five: #c12020; /* source color_label_custom_five */
}
